<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataBaseConnectionString" connectionString="Server=sqlserver;Database=Machines;User Id=sa;Password=abcd1234._.;TrustServerCertificate=True;"/>
		<add name="HostName" connectionString="rabbitmq"/>
		<add name="QueueName" connectionString="MachinesData"/>
	</connectionStrings>
</configuration>